body {
    line-height: 22.5px;
    font-family: 'Lora', serif;
    font-size: 12pt;
}

.h1{
    margin: 0px;
}


.img-style img {
    width: 100%;
    height: 400px;
}

/*navber design*/

.nav {
    margin: 0;
    float: none;
    display: inline-block;
}



/*.col-md-3 {*/
    /*padding: 0px;*/
/*}*/

/*Logo design */
.ls-logo {
    padding-top: 35px;
    padding-bottom: 45px;
    font-size: 40px;
}

/*slider*/
.carousel {
    background-color: #000;
    margin-bottom: 30px;
}

.carousel .item {
    max-height: 400px;
    min-height: 400px;
    overflow: hidden;
}

.carousel-style img {
    width: 100%;
    height: auto;
    max-height: 400px;
    min-height: 400px;

}

/*.ls-header .car-padding {*/
    /*padding-bottom: 45px;*/
/*}*/

.carousel-caption a {
    color: #ffffff;
    text-decoration: none;
}

.carousel-caption a:hover {
    color: #ffffff;
    text-decoration: none;
}

.enter-title {
    font-size: 36pt;
    font-weight: 700;
}

.carousel-caption {
    font-size: 22pt;
    font-weight: 400;
    padding-bottom: 90px;
}

.cat-style a {
    color: #fffde5;
}

.meta-carousel-padding {
    padding-top: 10px;
    font-size: 15pt;
    font-weight: 400;
}

ol {
    display: none;
}

.fa-style-left {
    padding-top: 175px;

    font-size: 50px;
}

.fa-style-right {
    padding-top: 175px;

    font-size: 50px;
}

/*read more*/

.view-full-post-btn {
    display: inline-block;
    /*border-radius*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 8px 16px;
    margin-top: 10px;
    color: #454545;
    border: 1px solid #d8dcdc;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 16px;
}

.view-full-post-btn:hover {
    background: #454545;
    /*transition*/
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #000000;
    color: #FFFFFF;
}

/*read more button*/
/*.btn-style {*/
    /*background: #f8f5ce;*/
    /*color: #9ca699;*/
    /*padding: 12px 32px;*/
    /*border: none;*/
    /*border-radius: 0;*/
/*}*/

/*.btn-style:hover {*/
    /*background: #7999aa;*/
    /*color: #ffffff;*/
    /*padding: 12px 32px;*/
    /*border: none;*/
    /*border-radius: 0;*/
/*}*/

/*post padding*/

.post-padding-bottom {
    padding-bottom: 20px;
}

.post-padding-bottom-2 {
    padding-bottom: 30px;
}

/*post padding top*/
.post-padding-top {
    padding-top: 15px;
}

/*catagory font*/

.cat-font {
    font-size: 12pt;
    font-weight: 400;
    color: #d09949;
}

.cat-font a {
    color: #d09949;
}

.content-font {
    font-size: 14pt;
    font-family: 'Lora', serif;
    color: #9aa3a9;
    line-height: 25px;
}

/*title font*/

.title-font {
    font-size: 18pt;
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #353739;
}

.title-font a {
    color: #353739;
}

/*meta padding*/

.meta-padding {
    padding-top: 7px;
}

/*###########################################*/

.footer-style {
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.11);
}

.footer-style .container {
    padding-left: 15px;
}

/*#bs-example-navbar-collapse-1 {*/
    /*background-color: rgb(247, 244, 199);*/
/*}*/

.navbar .navbar-nav {
    margin: 0;
    float: none;
    display: inline-block;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: rgb(247, 244, 199);
    color: #dbb271;

}

.nav > li > a {
    color: black;
    font-size: 20px;
    /*font-family: "Lora";*/
}

.ls-logo {
    font-size: 50px;
    font-family: "Lora";
    color: rgb(65, 88, 101);
    line-height: 0.667;
}

hr.hr-style {
    border-top: 1px solid #8c8b8b;

}

ul.demo {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*ul li{*/
/*padding-bottom: 10px;*/
/*}*/
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}

/*paggination*/

.pagination li a {

}

.site-info {
    color: #969798;
    font-size: 15px;
    /*font-size: 0.8125rem;*/
    line-height: 1.6153846154;
    text-align: center;
    font-family: Lora-regular;
}

.recent-post-title {
    font-size: 15px;
    display: inline-block;
    margin: 0;
    float: none;
}

.logo-style a {
    color: #415865;
}

.meta-style {
    color: #909192;
}

.meta-style a {
    color: #909192;
}

/*widget style*/

/* calendar widget */
.widget_calendar {float: left;}
#wp-calendar {width: 100%; }
#wp-calendar caption {  color: black; font-size: 20px; margin-top: 20px; margin-bottom: 5px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; color: red;text-align: center; font-size: 20px;}
#wp-calendar tbody { color: black; }
#wp-calendar tbody td { background: lightgrey; border: 2px solid #fff; text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #dbb271; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tbody .pad:hover{background: none; }
#wp-calendar tfoot #next { font-size: 20px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 20px; text-transform: uppercase; padding-top: 10px; padding-bottom: 20px }

.widgettitle a{
    position: relative;
}


.pic-style {
    padding-bottom: 30px;
}

.wp-post-image {
    border-radius: 5px;
}

.recent-div .recent-post-title a {
    color: #353739;
    font-weight: 400;
    font-size: 14pt;
}

.recent-div .recent-post-title a:hover {
    color: #353739;
    font-weight: 400;
    font-size: 14pt;
}

.recent-post-title {
    color: #353739;
    font-weight: 400;
    font-size: 14pt;
}

.post-date {
    color: #909192;
    font-size: 12pt;
}

.recent-div .entry-cat a {
    font-size: 12pt;
    font-weight: 100;
    color: #d09949;
}

.widget ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #909192;
    font-size: 14pt;
    line-height: 25px;
}

.widget a {
    color: #909192;
}

.widget a:hover {
    color: #d09949;
}


.widget-title ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #909192;
    font-size: 14pt;
    line-height: 25px;
}

.widget-title a {
    color: #909192;
}

.widget-title a:hover {
    color: #d09949;
}



.widget-title ul {
    margin-left: 0px;
    padding-left: 0px;
}

.widget_categories ul {
    margin-left: 0px;
    padding-left: 0px;
}

/*.widget-title ul a{*/


.recent-div {
    list-style-type: none;
}

.avatar {
    border-radius: 50px;
}

.avatar-size img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 0;
}

.avatar-size h4{
    font-size: 20px;
    margin: 0px 0 7px 0;
    color: #212121;
}


.tagcloud a {
    font-size: 13px !important;
    line-height: 2em;
    display: inline-block;
    color: #415865;
    border: 1px solid #f7f4c7;
    padding: 0 1em;
    margin: 0 2px 5px;
    border-radius: 2px;

}


.tagcloud a:hover {
    text-decoration: none;
    background: #fdfcee;
}

a.tag-cloud-link {
    font-size: 30px;
}

.textwidget {
    text-align: justify;
    padding-right: 10px;
    color: #909192;
    font-size: 14pt;
}

.textwidget img{
    width: 240px;
    height: 200px;

}

.textwidget button, input, select, textarea{
    width: 240px;
    padding : .3em 2.7em .3em 1.3em;
    height: 40px;
    border-radius: 0;
}


/*Search form sidebar*/
.widget_search .input-field  {
    position : relative;
    /*margin-bottom: 65px;*/

}
.widget_search .input-field label{
    display:none ;
}

.widget_search .input-field .form-control {
    padding : .3em 2.7em .3em 1.3em;
    height: 40px;
    border-radius: 0;
}

.widget_search .input-field  button{
    background : #669999;
    border     : none;
    position   : absolute;
    right      : 0;
    top        : 0;
    width      : 40px;
    height     : 40px;
    color      : #fff;
.transition(all .3s);
}

/*Search form footer*/
.widget-title .input-field  {
    position : relative;
    /*margin-bottom: 65px;*/

}
.widget-title .input-field label{
    display:none ;
}


.widget-title .input-field  button{
    background : #669999;
    border     : none;
    position   : absolute;
    right      : 0;
    top        : 0;
    width      : 40px;
    height     : 40px;
    color      : #fff;
.transition(all .3s);
}

.widget-title .input-field .form-control{
    padding : .3em 2.7em .3em 1.3em;
    height: 40px;
    border-radius: 0;
}

/*/////////////////////////////////////////*/
.ul-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #909192;
    font-size: 14pt;
    line-height: 30px;
}

.social-share .fa {
    color: #cc9933;
}

.aaa {
    list-style-type: none;
    display: inline-block;
}

.heart1 {
    color: red;
}

.heart2 {
    color: red;
}

.topbutton {
    height:50px;
    width:50px;
    position:fixed;
    right:5px;
    bottom:5px;
    z-index:1;
    display:none;
    color: #cccccc;
    font-size: 20px;
}
.user-img img{
    vertical-align: text-top;
}


/*slider*/

.posts-slider {
    margin-bottom: 45px;
    padding-top: 30px;
}

/*.no-padding{*/
    /*padding:0;*/
/*}*/

.owl-carousel .owl-item img {
    height: 100px;
}

#owl-demo .item{
    margin: 3px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}


.form-style{
    margin-top: 20px;
}
.form-button-padding{
    padding-bottom: 80px;
}


.send-btn-style{
    width: 100px;
    text-align: center;
}


/*comment section*/

.children{
    padding-left: 50px;
}


.comment-content a{
    color: gray;
    font-size: 14px;
}

.comment-content p{
    font-size: 14px;
    color: #999;
    line-height: 1.8em;
}

